* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}

.header{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px;
  color: #FFF;   
}

.trollFace {
  width: 32px;
  height: 27px;
  margin-right: 6px;
}

.title { 
  font-family: Karla;
  font-size: 21px;
  font-weight: 700;
  /* letter-spacing: -2.075px; */
  margin-right: auto;
}
  
.SubTitle {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

main {
  padding: 36px;
}

.form {
 display: grid;
 grid-template: 40px 40px/ 1fr 1fr;
 gap: 17px;
}

.formLabel {
  margin-bottom: 5px;
}

.formInput{
  text-indent: 5px;
  height: 35px;
  width: 100%;
  font-family: "Karla", sans-serif;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--gray-300, #D1D5DB);
  background: var(--white, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.formButton {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  font-family: Karla;
  height:35px;
  border: none;
}

.meme {
  text-align: center;
  position: relative;
  margin: auto;
}

.memeImage {
  max-width: 100%;
  border-radius: 3px;
  
}

.memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}